* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Moved generic elements a and p to the top of the sheet*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*Changed selector name to reflect change in class name */
.list {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Created relative selectors and removed unnecessary classes*/
.list ul {
    list-style-type: none;
}

.list ul li {
    display: inline-block;
    margin-left: 25px;
}


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*Removed float-left/right classes and included them with
the image formatting*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Combined class for the individual content container under 
one class to avoid repetetion as they all follow same formatting*/
.content-individual {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Added inline float:right to the Online Reputation Management.
Added the float properties under the image selectors instead
of having separate classes for float.*/
.content-individual img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.content-individual h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Combined class for the individual benefits container under 
one class to avoid repetetion as they all follow same formatting*/
.benefit-individual {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-individual h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-individual img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Combined footer h2 selector under footer*/
footer {
    padding: 30px;
    clear: both;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}